@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

/* CSS Code is taken from Thapa Technical but have majority of changes.*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #001427;
  color: white;
}

:root {
  --text-clr: #4a5c6c;
  --bg-clr: #f2f4fc;
  --border-clr: rgb(156, 176, 193);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-clr);
}

h2 {
  font-family: "Poppins", sans-serif;
  color: var(--text-clr);
  font-size: 1.6rem;
  margin-top: 10px;
  transition: all 0.5s linear;
  text-align: left;
}

a {
  text-decoration: none;
}

.poster {
  width: 238px;
  height: 350px;
  margin: 1rem 0;
  margin-top: 15px;
  border-radius: 0.8rem;
  transition: all 0.3s linear;
}

.UpInput{
  position: relative;
  left: 10px;
  opacity: .7;
}

.searchImg{
  width: 24px;
    position: relative;
    top: 5px;
    right: 41px;
    background-color: #ffffff00;
    opacity: .62;
}

.about-movie {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type {
  font-weight: 100;
  font-size: 13px;
  color: #319ffd;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
  border: 1.1px solid #319ffd;
}

/* resuable code  */
.container {
  max-width: 140rem;
  margin: auto;
  padding: 3rem;
}

.grid {
  /* width: 100%; */
  display: grid;
  gap: 1.2rem;
}

.grid-4-col {
  grid-template-columns: repeat(5, 1fr);
}

.card {
  width: 150px;
  height: 410px;
  /* background-color: #fafaff; */
  /* padding: 2rem; */
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  font-weight: 500;
  max-width: 160px;
}

/* search css  */
.search-section {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}

input {
  width: 30rem;
  border-radius: 100px;
  border: none;
  border: 1px solid var(--border-clr);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  /* border-color: var(--border-clr); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  outline: none;
  margin-top: 2rem;
}

.card-error p {
  color: red;
  margin-top: 1rem;
  font-size: 1.8rem;
}

/* Single Movie css code  */

.movie-section {
  width: 100%;
  height: 100vh;
  background-color: var(--text-clr);
  display: grid;
  place-items: center;
}

.loading {
  font-size: 3.2rem;
  color: var(--text-clr);
  text-align: center;
  margin-top: 100px;
}

.movie-page{
  margin-top: 40px;
}

.movie-section .loading {
  font-size: 3.2rem;
  color: var(--bg-clr);
  text-align: center;
}

.movie-card {
  min-width: 30rem;
  width: 50vw;
  /* padding: 1rem; */
  background-color: var(--bg-clr);
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.6fr 1fr;
  /* align-items: center; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
}

figure {
  margin: 0;
  padding: 0;
}
.movie-card img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  /* border-radius: 0; */
  max-height: 50rem;
  height: auto;
}

.movie-card .title {
  font-size: 2.8rem;
  color: var(--text-clr);
  font-weight: bold;
}

.mv-year{
  font-size: 16px;
  font-weight: 100;
  font-family: system-ui;
}

.mv-data{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.card-text {
  font-size: 1.8rem;
}

a:not(.inside-back, .social-img, .top) {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -1.6rem;
  padding: 3.9rem 1rem;
  /* background-color: var(--text-clr); */
  color: var(--text-clr);
  font-size: 1.8rem;
  transition: all 0.3s linear;
}

.uparr{
  position: fixed;
  text-align: center;
  background-color: #00abff;
  width:40px;
  font-size: 20px;
  padding: 5px;
  border-radius: 6px;
  bottom: 40px;
  transition: all .2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.uparr:hover{
  transform: scale(1.06);
}

.up-arrow{
  z-index: 5;
  cursor: pointer;
  width: 97%;
  height: 21vh;
  display: flex;
  justify-content: right;
  position: fixed;
  top: 620px;
  background-color: #ffffff00;
}

.top{
  background-color: #ffffff00;
}

a:hover {
  /* background-color: var(--text-clr); */
  color: var(--bg-clr);
}

a:hover h2 {
  color: var(--bg-clr);
  display: inline-block;
}

.results {
  font-weight: 100;
  font-size: 22px;
  text-align: center;
  font-family: sans-serif;
}

.poster:hover {
  transform: scale(1.03);
  opacity: 0.55;
}

.back-btn {
  padding: 1.2rem 3.6rem;
}

.search-head {
  max-width: 100%;
  font-size: 22px;
  font-family: 'Cinzel', serif;

}

.hd-tag {
  background-color: #ffffffef;
  color: black;
  width: 17%;
  position: relative;
  border-radius: 4px;
  top: 53px;
  left: 182px;
  font-size: 15px;
}

/* responsive code   */
@media (max-width: 1260px) {
  .container {
    margin: auto;
    max-width: 114rem;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1060px) {
  .container {
    max-width: 90rem;
    margin: auto;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr 1fr;
  }

  input {
    width: 25rem;
  }

  .movie-section {
    height: auto;
    padding: 4.8rem 0;
  }

  .movie-card {
    grid-template-columns: 1fr;
  }

  .card-content {
    padding-left: 2rem;
  }

  .back-btn {
    margin-bottom: 3rem;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 70rem;
    margin: auto;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 558px) {
  .container {
    max-width: 70rem;
    margin: auto;
  }
  .grid-4-col {
    grid-template-columns: 1fr;
  }
}


/* ANIMATIONS  */


.movie-page{
  animation: fademovie 1.5s;
}

@keyframes fademovie {

  0%{
      opacity: 0;
  }

  100%{
      opacity: 1;
  }
  
}