.container{
    font-size: 16px;
}

.movie-poster{
    border: 2px solid white;
    border-radius: 10px;
    height: 440px;
    width: 300px;
}

.details-card, .rating-data{
    display: flex;
}

.details-card{
    margin-top: 100px !important;
    align-items: center !important;
}

.movies-data{
    margin-left: 35px;
}

.title-heading{
    max-width: 100%;
    font-size: 42px;
    margin-top: 0px;
}

.rating-data>div{
    margin-left: 25px;
}

.HD-tag{
    background-color: rgb(3, 130, 214);
    width: 50px;
    text-align: center;
    border-radius: 8px;
}
.rated{
    width: 20px;
    margin-right: 10px;
}
.rating-data{
    margin-top: 10px;

}
.rating{
    display: flex;
    align-items: center;
}

.rest-data{
    margin-top: 36px;
}

.other-data{
    margin-top: 30px;
}

.comment-head{
    display: flex;
    align-items: center;
}

.totalComments{
    background-color: red;
    margin-left: 14px;
    padding: 5px;
    border-radius: 50%;
    width: 36px;
    text-align: center;
}

.users-comment{
    margin-top: 25px;
}

.user-1{
    display: flex;
    align-items: center;
}

.user-data{
    margin-left: 20px;
}

.user-name{
    font-size: 20px;
    margin-top: 20px;
}

.UserComment{
    margin-top:8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img1{
    width: 70px;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.time{
    display: flex;
    align-items: center;
}

.imgtime{
    width: 20px;
    filter: invert(1);
    background-color: #ffffff00;
}

.time-text{
    margin-left: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.back{
    cursor: pointer;
    background-color: #028b02;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

.inside-back{
    background-color: #ffffff00;
}

@media (max-width: 660px) {
    .details-card{
        flex-direction: column;
        align-items: center;
        margin-top: 0px !important
    }

    .movie-poster{
        width: 230px;
        height: 340px;
    }

    .movies-data{
        margin-top: 30px;
    }

    .img1{
        margin-left: 20px;
        width: 55px;
    }
    .user-1{
        margin-top: 55px;
        flex-direction: column;
        align-items: normal;
    }

    .user-name{
        display: flex;
    }

    .time{
        margin-left: 10px;
    }
}

@media (max-width: 800px) {
.details-card{
    margin-top: 40px !important;
}
}

/* ANIMATIONS */

.details-card{
    animation: fadedetails 1.2s;
}

@keyframes fadedetails {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.comments{
    animation: fadecomments 1.4s;
}

@keyframes fadecomments {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}